In [1]:
import requests
import json
import pandas as pd
import matplotlib.pyplot as plt
from config import api_key

In [2]:
base_url = 'https://openapi.etsy.com/v2'

In [3]:
categories_url = base_url + '/taxonomy/categories?api_key=' + api_key

In [4]:
categories_response = requests.get(categories_url).json()

In [5]:
categories=[]
for text in categories_response["results"]:
    categories.append({"Category ID" : text["category_id"],
                       "Name": text["name"],
                       "Category Name": text["category_name"],
                       "Short Name": text["short_name"],
                       "Long Name": text["long_name"],
                       "Keywords" : text["meta_keywords"]
                      })

In [6]:
categories_df = pd.DataFrame(categories)
categories_df.head()

,Category ID,Category Name,Keywords,Long Name,Name,Short Name
0,69150467,accessories,"handmade accessories, handmade belt, handmade ...",Accessories,accessories,Accessories
1,68887312,art,"handmade art, handcrafted art, folk art, arts ...",Art,art,Art
2,69150455,bags_and_purses,"handmade bag, handcrafted purse, handsewn purs...",Bags and Purses,bags_and_purses,Bags and Purses
3,68887336,bath_and_beauty,"handmade soap, handcrafted soap, handmade soap...",Bath and Beauty,bath_and_beauty,Bath and Beauty
4,69150385,books_and_zines,"handmade books, handcrafted book, zine, journa...",Books and Zines,books_and_zines,Books and Zines

In [8]:
#categories_df.loc[categories_df["Category Name"]=="jewelry", :]
categories_df.to_csv("AllTopCategories.csv")

In [9]:
subcategory_url = base_url + '/taxonomy/categories/jewelry?api_key='+api_key
subcategories_response = requests.get(subcategory_url).json()

In [10]:
jewelry_subcategories=[]
for text in subcategories_response["results"]:
    jewelry_subcategories.append({"Category ID" : text["category_id"],
                       "Name": text["name"],
                       "Category Name": text["category_name"],
                       "Short Name": text["short_name"],
                       "Long Name": text["long_name"],
                       "Keywords" : text["meta_keywords"]
                      })
subcategories_df = pd.DataFrame(jewelry_subcategories)

In [21]:
###TOP 25 LISTINGS BY SCORE IN JEWELRY###
listings=[]
for x in subcategories_df[["Category Name"]]:
    listings_url = base_url + '/listings/active?category='+ x +'&sort_on=score&sort_order=down&api_key=' + api_key 
    jewelry_listings = requests.get(listings_url).json()
    try:
        for text in jewelry_listings["results"]:
            listings.append({"Id" : text["listing_id"],
                           "Title": text["title"],
                            "Price": text["price"],
                            "Currency": text["currency_code"],
                            "Tags": text["tags"],
                            "Categories" : text["category_path"],
                            "Quantity": text["quantity"],
                            "Favorites Number": text["num_favorers"],
                            "Number of Views":text["views"],
                            "Is Digital": text["is_digital"],
                            "Is Supply": text["is_supply"],
                            "Is Private": text["is_private"],
                            "Processing Days Min":text["processing_min"],
                            "Processing Days Max":text["processing_max"],
                            "Style": text["style"]
                            })
    except :
        print("Not available")

In [23]:
listings_df = pd.DataFrame(listings)
listings_df.to_csv("Top25ListingsinJewelryByScore.csv")

In [24]:
listings_df.head()

,Categories,Currency,Favorites Number,Id,Is Digital,Is Private,Is Supply,Number of Views,Price,Processing Days Max,Processing Days Min,Quantity,Style,Tags,Title
0,[Weddings],USD,3422,501422706,False,False,false,19864,12.00,10.0,10.0,70,None,"[Starbucks Bridesmaid, Bridesmaid Gift, Bridal...","Starbucks Bridesmaid Gift, Bridal Shower Gift,..."
1,[Supplies],USD,0,647500479,False,False,false,0,6.00,2.0,1.0,25,None,"[Dirt, Succulents, Succulent, Love, Nutrients,...",Assorted Succulent Arrangements
2,[Toys],USD,129,459744426,False,False,false,1694,29.95,5.0,3.0,316,None,"[puzzle with name, wooden puzzle, wood puzzle,...",Wooden Child&#39;s Name Puzzle (FULL NAME) wit...
3,"[Jewelry, Ring]",USD,116,569116954,False,False,false,969,385.00,15.0,5.0,1,None,"[GIA, dainty, thin, delicate, simple, diamond,...",Dainty Baguette Natural Diamond Engagement Rin...
4,"[Jewelry, Necklace]",USD,165,162803780,False,False,false,2655,30.00,1.0,1.0,3,None,"[Mimi Necklace, Mimi Jewelry, Heart Necklace, ...","Mimi Necklace, Mimi Heart Necklace, Mimi Gifts..."