## Step 1

In [1]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
from splinter import Browser

## NASA Mars News

In [2]:
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"

In [3]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
browser.visit(url)
html = browser.html
soup = bs(html, "html.parser")

In [8]:
title = soup.find('div', class_="content_title")
news_title  = title.text.strip()
news_p = soup.find('div', class_='article_teaser_body').text

In [9]:
news_title

'NASA Launches a New Podcast to Mars'

In [10]:
news_p

"NASA's new eight-episode series 'On a Mission' follows the InSight spacecraft on its journey to Mars and details the extraordinary challenges of landing on the Red Planet."

## JPL Mars Space Images - Featured Image

In [14]:
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
executable_path = {'executable_path':'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(url)

In [15]:
browser.click_link_by_partial_text("FULL IMAGE")

In [16]:
browser.click_link_by_partial_text("more info")

In [17]:
html = browser.html
soup = bs(html, 'html.parser')

In [18]:
featured_image_url = soup.find('figure', class_="lede").a ['href']

In [19]:
featured_image_url = 'https://www.jpl.nasa.gov' + featured_image_url

In [20]:
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18614_hires.jpg'

## Mars Weather

In [21]:
url = "https://twitter.com/marswxreport?lang=en"
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(url)

In [22]:
html = browser.html
soup= bs(html, 'html.parser')

In [23]:
mars_weather = soup.find('div', class_="js-tweet-text-container").p.text

In [24]:
mars_weather

'Sol 2209 (2018-10-23), high -18C/0F, low -73C/-99F, pressure at 8.79 hPa, daylight 06:09-18:26'

## Mars Facts

In [25]:
url = "https://space-facts.com/mars/"
tables = pd.read_html(url)

In [26]:
df = tables[0]
df.columns =  ['Type','Value']

In [27]:
df.set_index(['Type'], inplace=True)

In [28]:
df

                                              Value
Type
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [29]:
html_table = df.to_html()

In [30]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Type</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

## Mars Hemispheres

In [31]:
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [32]:
browser.visit(url)
html = browser.html

In [33]:
hemisphere_image_urls=[]
soup = bs(html, 'html.parser')
titles = soup.find_all('div', class_="description")
for title in titles:
    print(title.h3.text)
    title = title.h3.text
    browser.click_link_by_partial_text(title)
    html = browser.html
    soup = bs(html, 'html.parser')
    img_url = 'https://astrogeology.usgs.gov' + soup.find('img', class_="wide-image")['src']
    print(img_url)
    browser.click_link_by_partial_text("Back")
    hemisphere_image_urls.append({"title":title, "img_url":img_url})

Cerberus Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg
Schiaparelli Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg
Syrtis Major Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg
Valles Marineris Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg

In [34]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]