In [1]:
import pandas as pd

In [9]:
df1 = pd.read_csv("Data/JC-201811-citibike-tripdata.csv")

In [3]:
df2 = pd.read_csv("Data/JC-201810-citibike-tripdata.csv")

In [4]:
df3 = pd.read_csv("Data/JC-201809-citibike-tripdata.csv")

In [5]:
df4 = pd.read_csv("Data/JC-201808-citibike-tripdata.csv")

In [6]:
df5 = pd.read_csv("Data/JC-201807-citibike-tripdata.csv")

In [10]:
frames = [df1, df2, df3, df4, df5]

In [11]:
df = pd.concat(frames)

In [13]:
df.count()

tripduration               189770
starttime                  189770
stoptime                   189770
start station id           189770
start station name         189770
start station latitude     189770
start station longitude    189770
end station id             189770
end station name           189770
end station latitude       189770
end station longitude      189770
bikeid                     189770
usertype                   189770
birth year                 189770
gender                     189770
dtype: int64

In [14]:
df1.count()

tripduration               24910
starttime                  24910
stoptime                   24910
start station id           24910
start station name         24910
start station latitude     24910
start station longitude    24910
end station id             24910
end station name           24910
end station latitude       24910
end station longitude      24910
bikeid                     24910
usertype                   24910
birth year                 24910
gender                     24910
dtype: int64

In [15]:
df.to_csv("data.csv")